<div class="content-wrapper buffer-both">
  <div class="user-questions buffer-both">
    <div class="questions-list">
      <% @questions.each do |question| %>
        <% @tags = question.tags %>
        <%= render partial: 'questions/question', object: question %>
      <% end %>
    </div>
  </div>
</div>